<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="main">
        <div class="form">
            <form action="/form"
                  method="post">
                <input type="username" placeholder="enter name" name="username">
                <input type="email" placeholder="email" name="email">
                <input type="password" placeholder="password" name="password">
                <button>Submit</button>
            </form>
        </div>
    </div>
</body>

</html>